@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    position: relative;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
}

a{
    text-decoration: none;
}

#top_layout{
    background-color: #f5f5f5;
    border-bottom: 2px solid #c8c8c8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}

.inner{
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

.btn{
    width: 130px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 400px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: 0.4;
}
.btn:hover{
    background-color: #333;
    color: #fff;
}

.btn.btn-reverse{
    background-color: #333;
    color: #fff;
}

.btn.btn-reverse:hover{
    background-color: transparent;
    color: #333;
}

.btn.btn-brown{
    color: #592b18;
    border-color: #592b18;
}

.btn.btn-brown:hover{
    background-color: #592b18;
    color: #fff;
}

.btn.btn-gold{
    color:#d9aa8a;
    border-color: #d9aa8a;
}

.btn.btn-gold:hover{
    color:#d9aa8a;
    border-color: #fff;
}

.btn.btn-white{
    color:#fff;
    border-color: #fff;
}

.btn.btn-white:hover{
    color:#fff;
    border-color: #333;
}

.back-to-position{
    opacity: 0;
    transition: 1s;
}

.back-to-position.to-right{
    transform: translateX(-150px);
}

.back-to-position.to-left{
    transform: translateX(150px);
}

.show .back-to-position{
    opacity: 1;
    transform: translateX(0);
}

#top_layout > .inner{
    height: 120px;
}

#top_layout .logo{
    height: 75px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto; /*탑이랑 바텀에 0값을 줘야 중앙에 옴*/
    /*display: none;*/
}

#top_layout .inner .sub_menu{
    display: flex;
    position: absolute;
    right: 5px;
    top: 10px;
}

#top_layout .inner .sub_menu ul.util_menu li::before{
    content: "";
    width: 1px;
    height: 12px;
    background-color: #ddd;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

#top_layout .inner .sub_menu ul.util_menu li:first-child::before{
    display: none;
}

#top_layout .inner .sub_menu ul.util_menu li{
    position: relative;
}

#top_layout .inner .sub_menu ul.util_menu{
    display: flex;
}

#top_layout .inner .sub_menu ul li a{
    font-size: 12px;
    padding: 10px 15px;
    color: #999;
    display: block;
}

#top_layout .inner .sub_menu ul li a:hover{
color: #111;
}

#top_layout .inner .sub_menu .serch_bar{
    position: relative;
}

#top_layout .inner .sub_menu .serch_bar input{
    width: 36px;
    height: 34px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
    border-radius: 5px;
    background-color: #fff;
    color: #777;
    transition: width 0.4s;
}

#top_layout .inner .sub_menu .serch_bar input:focus{
    width: 190px;
    border-color: #007042;
}

#top_layout .inner .sub_menu .serch_bar .material-symbols-outlined{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    height: 24px;
    margin: auto;
}

#top_layout .inner .sub_menu .serch_bar.focused .material-symbols-outlined{
    opacity: 0;
}

#top_layout .inner .main_manu{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 150px;
}

#top_layout .inner .main_manu .item:hover{
    color: #fff;
    background-image: url('../image/main_menu_pattern.jpg');
}

#top_layout .inner .main_manu .item .item_main{
    padding: 20px;
    font-family: 'GmarketSansMedium';
}

#top_layout .inner .main_manu .item .item_contents{
    width: 100%;
    position: fixed;
    left: 0;
    display: none;
    top: 120px;
}

#top_layout .inner .main_manu .item:hover .item_contents{
    display: block;
}

#top_layout .inner .main_manu .item .item_contents .contents_menu{
    background-image: url('../image/main_menu_pattern.jpg');
    /* height: 200px; */
}

#top_layout .inner .main_manu .item .item_contents .contents_menu > ul{
    display: flex;
    padding: 20px 0;
}

#top_layout .inner .main_manu .item .item_contents .contents_menu > ul > li{
    width: 220px;
}

#top_layout .inner .main_manu .item .item_contents .contents_menu > ul > li > h4{
    padding: 3px 0 12px 0;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

#top_layout .inner .main_manu .item .item_contents .contents_menu > ul > li li{
    padding: 5px 0;
    font-size: 12px;
    color: #f5f5f5;
    cursor: pointer;
}
#top_layout .inner .main_manu .item .item_contents .contents_menu > ul > li li:hover{
    color: aquamarine;
    text-decoration-line: underline;
}

/* #top_layout .inner .main_manu .item .item_contents .contents_text{
    background-color: rgb(91, 175, 8);
    padding: 20px 0;
    background-image: url('../image/main_menu_pattern.jpg');
} */

#top_layout .inner .main_manu .item .item_contents .contents_text h4{
    font-size: 14px;
    font-weight: 600;
    color: #f5f5f5;
}

#top_layout .inner .main_manu .item .item_contents .contents_text p{
    color: #fff;
    font-size: 12px;
    margin: 4px 0 12px 0;
}

/* body에 relative되어 있어서(기본적으로) 거기에 앱솔루트 간다 */
#top_layout .badges{
    position: absolute;
    right: 15px;
    top: 130px;
}

#top_layout .badges .badge img{
    border-radius: 8px;
}
























































#foot_layout{
    background-color: #272727;
    border: 1px solid #333;
}

#foot_layout .inner{
    padding: 40px 0 60px;
}

#foot_layout .inner .menu{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
}

#foot_layout .inner li a{
    color: #ccc;
    font-size: 12px;
    font-weight: 700;
    padding: 10px;
}

#foot_layout .inner .menu li:first-child a{
    color: #669900;
}

#foot_layout .inner .menu li::before{
    content: "";
    width: 3px;
    height: 3px;
    background-color: #555;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

#foot_layout .inner .menu li:first-child::before{
    display: none;
}

#foot_layout .inner .btn-group{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#foot_layout .inner .btn-group .btn{
    font-size: 12px;
    margin-right: 10px;
}

#foot_layout .inner .btn-group .btn:last-child{
    margin-right: 0;
}

#foot_layout .inner .info{
    text-align: center;
    font-size: 12px;
    color: #999;
    margin-right: 20px;
}


#foot_layout .inner .span:last-child{
    margin-right: 0;
}

#foot_layout .inner .copyright{
    text-align: center;
    font-size: 12px;
    color: #999;
    margin-top: 10px;
}

#foot_layout .inner .logo{
    margin: 30px auto 0;
    display: block;
}