/* visual */
#body_layout{
    background-image: url(../image/strawberry-red-3456953__480.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 121px;
}

#body_layout .inner{
    height: 646px;
}

#body_layout .inner .title{
    position: absolute;
    top: 88px;
    left: -10px;
}

#body_layout .inner .title .btn{
    position: absolute;
    top: 259px;
    left: 173px;
}

#body_layout .cup1.image{
    position: absolute;
    bottom: -35;
    right: -200px;
}

#body_layout .cup1.text{
    position: absolute;
    top: 38px;
    right: 171px;
}

#body_layout .cup2.image{
    position: absolute;
    bottom: -40px;
    right: -53px;
}

#body_layout .cup2.text{
    position: absolute;
    bottom: 321px;
    right: 380px;
}

#body_layout .spoon{
    width: 370x;
    position: absolute;
    bottom: -40px;
    left: 350px;
}

#body_layout .inner .fade-in{
    opacity: 0;
}

/*notice*/
#notice{
    position: relative;
}

#notice .notice-line .bg-left{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #333;
}

#notice .notice-line .bg-right{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #f6f5ef;
}

#notice .notice-line .inner{
    height: 62px;
    /* border: 1px solid red; */
    display: flex;
}

#notice .notice-line .inner .inner_left{
    width: 60%;
    height: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
}

#notice .notice-line .inner .inner_left span{
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    display: block;
    margin-right: 20px;
}

#notice .notice-line .inner .inner_left .swiper-container{
    /* background-color: blueviolet; */
    flex-grow: 1;
    height: 62px;
}

#notice .notice-line .inner .inner_left .swiper-container .swiper-slide{
    height: 62px;
    display: flex;
    align-items: center;
}

#notice .notice-line .inner .inner_left .swiper-container .swiper-slide a{
    color: #fff;
}

#notice .notice-line .inner .inner_left .material-symbols-outlined{
    color: #fff;
    font-size: 30px;
    width: 62px;
    height: 62px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#notice .notice-line .inner .inner_right{
    width: 40%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#notice .notice-line .inner .inner_right span{
    font-size: 17px;
    font-weight: 700;
    display: block;
    margin-left: 20px;
    flex-grow: 1;
}

#notice .notice-line .inner .inner_right .toggle-promoton{
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#notice .notice-line .inner .inner_right .toggle-promoton .material-symbols-outlined{
    font-size: 30px;
    cursor: pointer;
}

.promotion{
    height: 695px;
    background-color: #f6f5ef;
    position: relative;
    overflow: hidden;
    transition: height 0.3;
}

.promotion.hide{
    height: 0;
}

#prom .swiper-container{
    width: calc(819px * 3 + 20px);
    height: 553px;
    /* background-color: aquamarine; */
    text-align: center;
    position: absolute;
    top: 40px;
    left: 50%;
    /* 크기를 절반으로 줄이기 위해 쓰는 공식이였다용개뤼 */
    margin-left: calc((819px * 3 + 20px)/-2);
}

#prom .swiper-slide{
    opacity: 0.2;
    position: relative;
    transition: opacity 1s;
}

#prom .swiper-slide.swiper-slide-active{
    opacity: 1;
}

#prom .swiper-slide .btn{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#prom .promotion .swiper-pagination{
    bottom: 20px;
    left: 0;
    right: 0;
}

#prom .promotion .swiper-pagination .swiper-pagination-bullet{
    background: none;
    background-image: url(../image/promotion_slide_pager.png);
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    margin-right: 6px;
}

#prom .promotion .swiper-pagination .swiper-pagination-bullet:last-child{
    margin-right: 0;
}

#prom .promotion .swiper-pagination .swiper-pagination-bullet-active{
    background-image: url(../image/promotion_slide_pager_on.png);
    background-repeat: no-repeat;
    width: 12px;
}
#prom .promotion .swiper-button-next,
#prom .promotion .swiper-button-prev{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    top: 300px;
    z-index: 1;
}

#prom .promotion .swiper-button-prev{
    left: 50%;
    margin-left: -480px;
}

#prom .promotion .swiper-button-next{
    right: 50%;
    margin-right: -480px;
}

#prom .promotion .swiper-button-prev::after,
#prom .promotion .swiper-button-next::after{
    display: none;
}

#prom .promotion .swiper-button-prev span,
#prom .promotion .swiper-button-next span{
    color: #333;
}

#prom .promotion .swiper-button-prev:hover,
#prom .promotion .swiper-button-next:hover{
    background-color: #333;
}

#prom .promotion .swiper-button-prev:hover span,
#prom .promotion .swiper-button-next:hover span{
    color: #fff;
}

#reward{
    background-color: aquamarine;
    position: relative;
}

#reward .reward_left{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #272727;
    top: 0;
    left: 0;
}

#reward .reward_right{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #d5c798;
    top: 0;
    right: 0;
}

#reward .inner{
    background-image: url(../image/rewards.jpg);
    height:241px;
}

#reward .inner .btn-group{
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    bottom: 24px;
}

#reward .inner .btn-group .sign{
    margin-right: 10px;
}

#reward .inner .btn-group .log{
    width: 110px;
}

#reward .inner .btn-group .gift{
    width: 250px;
    margin-top: 10px;
}

#youtube{
    position: relative;
    height: 700px;
    /* background-color: chocolate; */

    /* 내 영역을 벗어난 부분은 안보이게 처리 */
    overflow: hidden;
}

#youtube .youtube_area{
    width: 1920px;
    /* background-color: orange; */

    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: calc(1920px * 9 / 16 / -2);
    /* 이용법 숙지. -로 인해마진이 반대로 작용한 것 */
    margin-left: calc(1920px / -2);

    
}

#youtube .youtube_area::before{
    /* 비포 쓰려면 content 속성이 있어야함. 일단 비워서 생성 */
    content: "";
    
    display: block;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
}

#youtube .youtube_area #player{
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
}

#youtube .youtube_cover{
    background-image: url(../images/video_cover_pattern.png);
    /* 마지막은 투명도 주는 것 */
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#youtube .inner{
    height: 700px;
    /* background-color: blue; */
}

#youtube .inner .floating1{
    position: absolute;
    top: 50px;
    left: 0;
    width: 170px;
}

#youtube .inner .floating2{
    position: absolute;
    top: 350px;
    left: 150px;
    width: 200px;

}

#season-product .inner .floating3{
    
    position: absolute;
    top: -100px;
    right: 0;
    width: 150px;

}

/* ----------------------------------------------------------------------------------------- */

/* SEASON PRODUCT */

#season-product{
    background-image: url('../image/KakaoTalk_20230315_154339755.jpg')
}

#season-product .inner{
    height: 400px;
}

#season-product .inner .text-group{
    position: absolute;
    width: 370px;
    top: 110px;
    right: 100px;
}

#season-product .inner .text-group .text-top{
    margin-bottom: 10px;
}

#season-product .inner .text-group .title{
    color: #ed7e91;
    font-size: 20px;
    font-weight: 600;
}

#season-product .inner .text-group .title b{
    font-size: 28px;
    color: #e54360;
    font-weight: 800;
    display: block;
}

#season-product .inner .text-group .text-bottom{
    margin-bottom: 15px;
}

#season-product .inner .text-group .description{
    color: #ed7e91;
    font-size: 17px;
}

/* RESERVE-COFFEE */

#reserve-coffee{
    background-image: url(../image/reserve_bg.jpg);
}

#reserve-coffee .inner{
    height: 400px;
}

#reserve-coffee .inner .reserve-logo{
    position: absolute;
    top: 110px;
    left: 0;

}

#reserve-coffee .inner .text-group{
    position: absolute;
    top: 124px;
    left: 208px;

}

#reserve-coffee .inner .reserve-product{
    position: absolute;
    top: 0;
    right: 0;
}

#pick-your-favorite{
    background-image: url(../image/favorite_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#pick-your-favorite .inner{
    padding: 110px 0;
}

#pick-your-favorite .inner .text-group{
    width: 362px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#pick-your-favorite .inner .text-group .title{
    margin-bottom: 40px;
}

#pick-your-favorite .inner .text-group .description{
    margin-bottom: 40px;
}

#reverse-store{
    background-image: url(../image/reserve_store_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#reverse-store .inner{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reverse-store .inner .medal{
    width: 334px;
    height: 334px;
    perspective: 600px;
}

#reverse-store .inner .medal .front,
#reverse-store .inner .medal .back{
    width: 334px;
    height: 334px;
    backface-visibility: hidden;
    transition: 1s;
}

#reverse-store .inner .medal .front{
    position: absolute;
    transform: rotateY(0deg);
}

#reverse-store .inner .medal .back{
    position: absolute;
    transform: rotateY(-180deg);
}

#reverse-store .inner .medal:hover .front{
    transform: rotateY(180deg);
}

#reverse-store .inner .medal:hover .back{
    position: absolute;
    transform: rotateY(0deg);
}

#reverse-store .inner .medal .back .btn{
    position: absolute;
    top: 240px;
    left: 0;
    right: 0;
    margin: auto;
}

#find-store{
    background-image: url(../image/find_store_bg.jpg);
}

#find-store .inner{
    height: 400px;
}

#find-store .inner .texture1{
    position: absolute;
    top: 0;
    left: 400px;
}

#find-store .inner .texture2{
    position: absolute;
    bottom: 0;
    right: 0;
}

#find-store .inner .picture{
    border-radius: 50%;
}

#find-store .inner .picture1{
    position: absolute;
    top: -60px;
    left: 0 px;
    border-radius: 50%;
    /*box-shadow = 사진에 그림자 넣는것 (x y 색상)*/
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}

#find-store .inner .picture2{
    position: absolute;
    top: 150px;
    left: 250px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}

#find-store .inner .text-group{
    position: absolute;
    top: 120px;
    left: 550px;
}

#find-store .inner .text-group .title{
    margin-bottom: 20px;
}

#find-store .inner .text-group .description{
    margin-bottom: 20px;
}

#award{
    /* margin-bottom: 20px; */
    background-color: #272727;
}

#award .inner{
    padding: 40px 0;
}

#award .inner .swiper-wrapper{
    width: 100%;
    height: 40px;
}

#award .swiper-prev,
#award .swiper-next{
    width: 42px;
    height: 42px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.4;
}

#award .swiper-prev{
    left: -100px;
}

#award .swiper-next{
    right: -100px;
}

#award .swiper-prev:hover,
#award .swiper-next:hover{
    background-color: #fff;
    color: #272727;
}

#to-top {
    width: 42px;
    height: 42px;
    color: #fff;
    background-color: aliceblue;
    border: 1px solid #fff;
    border-radius: 30%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

#to-top .material-symbols-outlined{
    color: #555;
}